<div class="{{ swipeClass }}-swiper swiper-container">
  <div class="swiper-wrapper">
    {% for image in images %}
      <div class="swiper-slide">
        <img data-full-src="{{image.imageKitUrl}}" src="{{image.imageKitThumbUrl}}" alt="" onClick="openLightbox(this)">
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button-prev {{ swipeClass }}-prev"></div>
  <div class="swiper-button-next {{ swipeClass }}-next"></div>
  <div class="swiper-scrollbar {{ swipeClass }}"></div>
</div>
