<div class="{{ swipeClass }}-swiper swiper-container">
  <div class="swiper-wrapper">
    {% for image in images %}
      <div class="swiper-slide">
        <a data-fslightbox="{{ swipeClass }}-lightbox" href="{{image.imageKitUrl}}">
          <img src="{{image.imageKitThumbUrl}}" alt="">
          {% if image.imageCredit %}
            <div>{{ image.imageCredit[0].name }}</div>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button-prev {{ swipeClass }}-prev"></div>
  <div class="swiper-button-next {{ swipeClass }}-next"></div>
</div>
