---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo {
    width: 12vmax;
    height: 12vmax;
    margin: 0 auto 2rem;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
</style>
<main class="tdbc-container">
  <img src="{{ home.imageKitUrl }}" alt="{{ home.altText }}" srcset="">
</main>
