---
layout: base.njk
---

<header class="tdbc-hero">
  <div class="tdbc-container">
    <div class="tdbc-mx-auto tdbc-content-maxlength tdbc-w-100">
      <h1 class="tdbc-ink--primary tdbc-mb-none">{{ fullTitle if fullTitle else title }}</h1>
    </div>
  </div>
</header>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
    {{ content | safe }}
  </article>
</main>
