.artist {
  .text-box {
    height: 340px;
    overflow-y: auto;
    padding: 0.5em;
    box-shadow: inset rgba(tdbc-color('gray'), 0.2) 2px 2px 5px;
  }

  .text-box--content {
    padding-bottom: 2rem;
  }
}