.images-row {
  margin: 2rem 0 4rem;

  .swiper {
    &-container {
      border: 1px solid rgba(tdbc-color('gray'), 0.2);
      width: 100%;
      height: 100%;
    }

    &-wrapper {
      height: 300px;
    }
  }
}

.swiper-slide { 
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    max-width: 100%;
    display: block;
    object-fit: contain;
  }
}
