.images-row {
  margin: 2rem 0 4rem;

  .flickity-viewport {
    border: 1px solid rgba(tdbc-color('gray'), 0.2);
  }
}

.image-slider { 
  height: 300px;

  img {
    height: 285px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
