.images-row {
  margin: 2rem 0 4rem;

  h5 {
    margin-bottom: 2ch;
  }

  .swiper {
    &-container {
      border: none;
      width: 100%;
      height: 100%;
      padding: 1.5rem;
    }

    &-wrapper {
      height: 300px;
    }
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    object-fit: contain;
    margin-bottom: 1ch;
    box-shadow: rgba($color: #000000, $alpha: 0.2) 4px 4px 1ch;
  }
}

.lightbox {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .close {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    font-size: 2rem;
    cursor: pointer;
  }

  &-content {
    display: flex;
    margin: 5%;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      max-height: calc(100% - 15%);
      border: 5px solid #fff;
    }
  }
}

.image {
  &--portrait {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}