@import 'https://fonts.googleapis.com/css2?family=Farro:wght@400;500&family=Syne&display=swap';

$tdbc-font-family: "Farro", sans-serif;
$tdbc-font-family-secondary: "Syne", sans-serif;
$tdbc-color-primary: #CE5656;
$tdbc-color-body: rgb(7, 7, 7);
$tdbc-h2-font-size: 2rem;
$tdbc-h3-font-size: 1.5rem;
$tdbc-h4-font-size: 1.15rem;
