@import 'https://fonts.googleapis.com/css2?family=Farro:wght@400;500&family=Syne&display=swap';

$tdbc-font-family: "Farro", sans-serif;
$tdbc-font-family-secondary: "Syne", sans-serif;
$tdbc-color-primary: #CE5656;
$tdbc-color-body: rgb(7, 7, 7);
