# dependencies installed by npm
node_modules

#local node verision management
# .nvmrc

# build artefacts
public
src/css
social

# secrets and errors
.env
*.log

# macOS related files
.DS_Store

#IDE
.idea
.vscode/*