---
pagination:
  data: artist
  size: 1
  alias: paintingDate
layout: base
permalink: "painting-date/{{ paintingDate.date | slug }}-{{ paintingDate.title | slug }}/"
---
  
<div class="tdbc-container">
  <article class="artist">
    <header>
      <div class="tdbc-column-container">
        <section class="text-box">
          <h2>Recollections</h2>
          <div class="text-box--header">
            <h3>{{paintingDate.date}}</h3>
            <h4>{{paintingDate.title}}</h4>
            <h4>{{paintingDate.location[0].name}}</h4>
          </div>
          <div class="text-box--content">
            {{paintingDate.content | safe}}
          </div>
        </section>
        <section class="image--portrait">
          <img src="{{paintingDate.portrait[0].imageKitUrl}}" alt="" srcset="">
        </section>
      </div>
    </header>
    <section class="images">
      {% if paintingDate.artistImages %}
        <div class="images-row">
          <h5>Artist Images</h5>
          <div class="image-slider" data-flickity='{"wrapAround": true, "imagesLoaded": true, "contain": true}'>
            {% for image in paintingDate.artistImages %}
              <div class="image-cell">
                <img src="{{image.imageKitUrl}}" alt="" srcset="">
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% if paintingDate.leslieImages %}
        <div class="images-row">
          <h5>Leslie Images</h5>
          <div class="image-slider" data-flickity='{"wrapAround": true, "imagesLoaded": true, "contain": true}'>
            {% for image in paintingDate.leslieImages %}
              <div class="image-cell">
                <img src="{{image.imageKitUrl}}" alt="" srcset="">
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if paintingDate.LocationImages %}
        <div class="images-row">
          <h5>Location Images</h5>
          <div class="image-slider" data-flickity='{"wrapAround": true, "imagesLoaded": true, "contain": true}'>
            {% for image in paintingDate.LocationImages %}
              <div class="image-cell">
                <img src="{{image.imageKitUrl}}" alt="" srcset="">
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </section>
  </article>
</div>