---
layout: base
title: "Paintings"
sortOrder: 3
---
<div class="tdbc-container">
  <main>
    <article>
      <h1>Paintings</h1>
      <p></p>
    </article>
    <div class="tdbc-two-column-container">
      {% for node in paintings %}
          <div>
              <img src="{{node.imageKitUrl}}" alt="">
            <div>
              <p>{{ node.description | safe }}</p>
            </div>
          </div>
      {% endfor %}
    </div>
  </main>
</div>