---
layout: base
title: "Paintings"
sortOrder: 2
---
<div class="tdbc-container">
  <main>
    <article>
      <p>Something will be put here that says something nice.</p>
    </article>
  </main>
  <div class="tdbc-column-container wide">
    {% for node in paintings %}
        <div class="">
          <div class="">
            <img src="{{node.imageKitUrl}}" alt="">
          </div>
          <div class="">
            <p>{{ node.description | safe }}</p>
          </div>
        </div>
    {% endfor %}
  </div>
</div>